*.log
*.jpg
*.parquet
*.zip
*.pth
*.pyc
*.csv
*.ipynb
*/__pycache__/

src/log/
src/best_model.pth
src/__pycache__/
src/data/__pycache__/
src/models/__pycache__/
src/wandb/
src/.ipynb_checkpoints/
src/dist/
src/build/
src/recognition-results/
src/config.json



dataset/*/
